<li id="micropost-<%= follower_user.id %>">
  <section class="user_info">
    <h1>
      <%= gravatar_for follower_user %>
      <span class="follower_user"><%= link_to follower_user.name, follower_user %></span>
    </h1>
  </section>
</li>

