<div class="area">
    <div id="area-title">Area</div>
    <div id="area-contents"><%= @user.area %></div>
</div>
<div class="bio">
    <div id="bio-title">Bio</div>
    <div id="bio-contents"><%= @user.bio %></div>
</div>